body {
    background-color: #F3F5FC;
}

header img {
    position: absolute;
    display: inline-block;
    left: 44px;
    top: 25px;
}

.campo-de-texto {
    position: absolute;
    width: 680px;
    top: 168px;
    left: 240px;
}

.campo-de-texto label {
    display: block;
}

.campo-de-texto textarea {
    border: none;
}