body {
    background-color: #F3F5FC;
}

/*Header*/
header img {
    position: absolute;
    left: 44px;
    top: 25px;
}

/*Main*/

/*Area de entrada de dados*/
.entrada-saida-dados .container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.entrada-dados .container{
    display: flex;
    height: 650px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.entrada-texto{
    font-family: 'Inter', sans-serif;
    font-size: 28px;
    color: #0A3871;
    padding: 15px;
}

.entrada-texto {
    border: none;
    width: 680px;
}

.entrada-dados-botoes {
    width: 710px;
    display: flex;
    justify-content: space-between;
    
}

.botao-criptografar, .botao-descriptografar{
    width: 320px;
    padding: 20px 40px;
    margin-top: 50px;
    border-radius: 24px;
    cursor: pointer;
}

.botao-criptografar {
    background-color: #0A3871;
    color: #FFFFFF;
    border: none;
}

.botao-descriptografar {
    background-color: #D8DFE8;
    color: #0A3871;
    border: 1px solid #0A3871;
}

.botao-criptografar:hover {
    background-color: #042A58;
}
.botao-descriptografar:hover {
    background-color: #9fa6af;
}

/*Area que mostra o texto criptografado/descriptografado*/

.saida-dados-campo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #FFFFFF;
    width: 300px;
    height: 500px;
    margin-left: 100px;
}

.campo-imagem {
    width: 250px;
}
.campo-texto {
    font-family: 'Inter', sans-serif;
    padding: 10px;
}
.campo-texto h1{
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    padding: 10px;
}
.campo-texto p{
    text-align: center;
    font-size: 14px;
    padding: 10px;
    line-height: 18px;
}
